backcall==0.1.0
cachetools==3.1.0
certifi==2018.11.29
chardet==3.0.4
cycler==0.10.0
decorator==4.3.2
google-api-core==1.7.0
google-auth==1.6.2
google-cloud-core==0.29.1
google-cloud-storage==1.13.2
google-resumable-media==0.3.2
googleapis-common-protos==1.5.6
idna==2.8
ipykernel==5.1.0
ipython-genutils==0.2.0
ipython==7.2.0
jedi==0.13.2
jupyter-client==5.2.4
jupyter-core==4.4.0
kiwisolver==1.0.1
matplotlib==3.0.2
numpy==1.16.0
pandas==0.24.0
parso==0.3.2
pexpect==4.6.0
pickleshare==0.7.5
pillow==5.4.1
prompt-toolkit==2.0.8
protobuf==3.6.1
ptyprocess==0.6.0
pyasn1-modules==0.2.4
pyasn1==0.4.5
pygments==2.3.1
pyparsing==2.3.1
python-dateutil==2.7.5
pytz==2018.9
pyzmq==17.1.2
requests==2.21.0
rsa==4.0
scipy==1.2.0
seaborn==0.9.0
six==1.12.0
torch==1.0.0
torchsummary==1.5.1
torchvision==0.2.1
tornado==5.1.1
tqdm==4.30.0
traitlets==4.3.2
urllib3==1.24.1
wcwidth==0.1.7
